/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
  --main-color: #f08080;
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  --background-firstPage: #fdede4;
  --send-message: green;
}
body {
  font-family: 'Libre Baskerville', serif !important;
  /* font-family: "Roboto", sans-serif; */
}
/*********Container******************/

.text {
  font-size: 1rem;
  color: var(--dark-two);
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
  /* justify-content: center; */
  /* padding: 0rem; */
  /* margin: 0 auto; */
  /* width: 70%; */
}

.column-1 {
  margin-right: 1.5rem;
}

/***Navbar****/
nav {
  z-index: 2;
}

.logo {
  width: 3.25rem;
  margin-bottom: 3rem;
  margin-top: 1.2rem;
  margin-right: 15rem;
  display: flex;
  align-items: center;
}

/*** Menu Links ****/
nav a.nav-link {
  font-size: 0.8rem;
  color: var(--main-color);
  letter-spacing: 0.04rem;
  cursor: pointer;
  float: right;
}

nav ul li {
  text-transform: uppercase;
  float: right;
}

.navbar-nav > li > a {
  float: right;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--dark-one) !important;
}
.navbar-nav > li > a:hover {
  float: right;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--main-color) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
  float: right;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-expand-lg {
  background-color: var(--background-firstPage);
  color: var(---dark-one);
}

.float {
  justify-content: flex-end;
}

/***************** َAbout Me ************************/

.pink {
  background: var(--background-firstPage);
}
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: 4rem;
}

.profile-img {
  width: 30rem;
  border-radius: 5%;
  padding: 0.3rem;
  border: 1px solid var(--dark-one);
}

.about-heading {
  color: var(--dark-one);
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.text-Project {
  margin: 0 auto;
}

@media (max-width: 468px) {
  .profile-img {
    width: 20rem;
  }

  .about-heading {
    font-size: 1rem;
    margin-left: 1rem;
  }
}

.header-wraper {
  width: 100%;
  height: 70vh; /*90v*/
  background-color: var(--background-firstPage);
  overflow: hidden;
  position: relative;
  padding-top: 0.2rem !important;
  margin-top: 0.2rem !important;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.header-title {
  font-size: 2.8rem !important;
  line-height: 0.8 !important;
  color: var(--dark-one);
}

.main-info {
  display: flex;
  flex-direction: column;
  margin: 2.15rem 0 0 3rem;
  text-align: justify;
}

.header-content .image .img-element {
  /* max-width: 46.875rem; 750px; */
  max-width: 31.25rem !important; /*500 31.25rem*/
}

.img-element {
  border-radius: 5%;
  padding: 0.3rem;
  border: 0.0625rem solid var(--dark-two);
}
.z-index {
  position: relative;
  z-index: 2 !important;
}

.icon {
  width: 5.625rem; /*90px;*/
  margin-bottom: 1.7rem;
}

/****btn***/
.btn {
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: var(--main-color) !important;
  color: var(--light-one) !important;
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background-color: #6b44e0 !important;
}

.btn.small {
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
}
/************End of the btn**********/

/************Project****************/
.projects {
  text-align: center;
  padding-bottom: 2rem;
}

.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem 0;
  line-height: 1;
  font-size: 1.8rem;
  margin-bottom: 0.6rem 0;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.5rem;
  color: var(--main-color);
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title:after {
  content: '';
  position: absolute;
  width: 5.625rem; /* 90px;*/
  height: 0.3125rem; /*5px;*/
  border-radius: 0.1875rem; /*3px;*/
  background-color: var(--main-color);
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
}

.projects .box {
  height: 25rem;
  max-width: 24.375rem; /*390px*/
  margin-bottom: 1.875rem;
  padding: 0.625rem;
  margin-top: 1.875rem;
  background: var(--light-two);
}

.projects .box:hover {
  border-bottom: 0.3125rem solid var(--main-color);
  transform: translateY(-15px);
}

.title-sm {
  font-size: 1.2rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.section-header {
  display: inline-flexbox;
  margin: auto !important;
  text-align: center !important;
  justify-content: center;
  width: 100%;
  padding: 3rem !important;
}

.card-wrap {
  position: relative;
  margin: 1.7rem 0.8rem;
}

/********* Contacts ***********/
.contacts {
  background: var(--background-firstPage);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--main-color);
  padding: 1.3rem 0;
}

.contacts p {
  color: var(--dark-one);
  font-size: 1.2rem;
}

/********************Contact Me********************/
.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--dark-one);
  border-radius: 0;
  color: var(--dark-one) !important;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 1rem !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  color: var(--main-color) !important;
  border-bottom: 0.125rem solid var(--dark-one);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
  color: var(--light-one) !important;
  background-color: var(--main-color);
}

.contact-btn:hover {
  color: var(--main-color) !important;
  background-color: var(--light-one);
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--main-color);
  display: inline-block;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control,
textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--light-three);
  background: var(--main-color);
  text-align: left !important;
}

.success-message {
  font-weight: 900;
  color: var(--send-message);
}
/*********** End of Contacts *********/
/********** footer ************/
.footer {
  background: var(--background-firstPage);
  color: var(--dark-two);
  padding: 3rem;
}
.footer a {
  text-decoration: none;
  color: var(--dark-two);
}

.footer a:hover {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}
/*******End Of the Footer*******/

/***Media *****/
@media (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  .contacts .container {
    padding: 0 1rem;
  }
  .contacts p {
    padding: 0 0.4rem;
  }
}

/**** Media ***/
